.nav > li > a {
	color:#F9F9F9;
	padding-left:25px;
	padding-right:25px;
}

.navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
}

.logo {
	position: relative;
	top: 10px;
	float: left;
	padding-bottom: 50px;
}

.center
{
margin-left:auto;
margin-right:auto;
width:92%;
}
.center2
{
margin-left:auto;
margin-right:auto;
width:70%;
text-align: center;
}
.center3
{
margin-left:auto;
margin-right:auto;
width:90%;
}
.center4
{
text-align: center;
font-size: 20px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    color: inherit;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.14286;
    margin-bottom: 30px;
    padding: 30px;
}
.jumbotron {
    border-radius: 4px 4px 4px 4px;
    padding: 50px 60px;
    background-image: url("/assets/images/stripes4.png");
}

.reservations *, *:before, *:after {
-moz-box-sizing: content-box !important;
}

.reservations
*,
*:before,
*:after {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}


/*
.OT_wrapper {
    background-color: #F6F6F3;
    border: 2px solid #42382C;
    border-radius: 7px 7px 7px 7px;
    float: left;
    font-family: verdana,arial,helvetica,sans-serif;
    height: 82px !important;
    width: 870px;
    }
*/

footer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-top: 0px solid #000000 !important;
    color: #000000;
    margin-top: 40px;
    padding-top: 0px !important;
}

ul {
	list-style-type: none;
}

.copywrite {
	float: right;
	margin-top: 30px;
}

.collapse {
    display: block;
}

.navbar-nav > .active > a:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #CB2236 !important;
    content: "";
    height: 0;
    left: 50%;
    margin: 0 0 0 -5px;
    position: absolute;
    top: 4px;
    width: 0;
}

.navbar-nav > .active > a:after {
    background: none repeat scroll 0 0 #CB2236;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #CB2236;
    text-decoration: none;
}

.navbar-inverse {
    background-color: #CB2236;
    border-color: #CB2236;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #CB2236;
    color: #FFFFFF;
}

.navbar-inverse .navbar-toggle {
    border-color: #333333;
    display: none;
}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0px;
    min-height: 50px;
    position: relative;
    z-index: 1000;
}

footer {
    background: none repeat scroll 0 0 #CB2236;
    border-top: 0 solid #000000 !important;
    color: #000000;
    margin-top: 40px;
    padding-top: 0 !important;
}

.copywrite {
    float: right;
    margin-top: -25px;
}